<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First Suite" verbose="1">
	
	<test name="chromeTests" parallel="true">
		<parameter name="browser" value="chrome"></parameter>
		<packages>
			<package name="com.in28minutes.webdriver.temp.*"></package>
		</packages>
	</test>
	
	<test name="firefoxTests" parallel="true">
		<parameter name="browser" value="firefox"></parameter>
		<packages>
			<package name="com.in28minutes.webdriver.temp.*"></package>
		</packages>
	</test>

</suite>